/*colores
amarillo: #EAC926;
azul: #30264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #3b3b3b;
verde: #39b54a;*/

* {
    font-family: 'Roboto', ;
}
/*header*/

header{
    background-color: #EAC926;
}

h4{
    font-size: 24px;
}

.site{
    display: none;
}

.burger-menu

/*main*/

main {
    width: 90%;
}

article main{
    display: block;
    align-items: center;
}

 .estante{
    display: flex;
    margin: 15px;
    background-color: white;
    align-items: left;
}

.estanteria{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    /*border: 15px;*/
    border-color: #ebebeb;
    align-items: center;

}

.precio-envio{
    border-top: 1px;
    border-style: solid;
    border-color: #ebebeb;
    width: 100%;
    justify-content: left;
}

/*body*/

body{
    background-color: #ebebeb;
}

img {
    width: 90%;
}

p{
    font-size: 12px;
}

.descripciones{
    font-size: 16px;
    display: none;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
}

.precios{
    font-size: 18px;
}

/*footer*/

.pie-p치gina {
    display: flex;
    flex-wrap: wrap;
}

.pie-p치gina h3{
    text-align: center;

}

.pie-p치gina p{
    display: flex;
    flex-wrap: wrap;
    color: #666;
    text-align: center;
    margin-bottom: 10px
}

.pie-p치gina svg{
    width: 2em;
    display: flex;
    align-items: auto;
    margin-bottom: 10px
}

@media (min-width: 361px){

    .site{
        display: contents;
    }

    .estanteria{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 380px;
    }
    .descripciones{
        display: inline;
    }
    img {
        width: 310px;
    }
    .burger-menu{
        display: none;
    }

}


@media (min-width: 769px){
    body, head, footer{
        max-width: 1000px;
    }

}